In [243]:
import scipy.io
import numpy as np
import pandas as pd
from collections import Counter

from label_dict import label_dict

mat = scipy.io.loadmat('s1/S1_A1_E2.mat')

In [244]:
mat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'emg', 'stimulus', 'glove', 'subject', 'exercise', 'repetition', 'restimulus', 'rerepetition'])

In [245]:
rep = mat["rerepetition"].copy()
emg = mat["emg"].copy()
lab = mat["restimulus"].copy() #label

new_lab = np.array([[label_dict[2][lab[i][0]]] for i in range(lab.shape[0])])

In [246]:
for i in range (465):
# for i in range (rep.shape[0]):
    if new_lab[i] != 0:
        print (f"Rep nr: {rep[i][0]}, Class: {new_lab[i][0]}, Frame nr: {i}, EMG: {emg[i]}")

Rep nr: 1, Class: 13, Frame nr: 454, EMG: [0.0488 0.0098 0.0024 0.0024 0.0049 0.0024 0.4077 0.166  0.0024 0.0659]
Rep nr: 1, Class: 13, Frame nr: 455, EMG: [0.0708 0.0146 0.0024 0.0024 0.0024 0.0024 0.4858 0.2002 0.0024 0.0781]
Rep nr: 1, Class: 13, Frame nr: 456, EMG: [0.083  0.0122 0.0024 0.0024 0.0024 0.0024 0.542  0.2148 0.0024 0.0879]
Rep nr: 1, Class: 13, Frame nr: 457, EMG: [0.0854 0.0024 0.0024 0.0024 0.0024 0.0024 0.5859 0.2148 0.0024 0.0879]
Rep nr: 1, Class: 13, Frame nr: 458, EMG: [0.083  0.0024 0.0024 0.0073 0.0024 0.0024 0.5957 0.1978 0.0024 0.0977]
Rep nr: 1, Class: 13, Frame nr: 459, EMG: [0.0854 0.0171 0.0171 0.022  0.0024 0.0024 0.6396 0.2002 0.0586 0.1172]
Rep nr: 1, Class: 13, Frame nr: 460, EMG: [0.0903 0.0757 0.0854 0.0659 0.0024 0.0024 0.7007 0.2124 0.1636 0.1392]
Rep nr: 1, Class: 13, Frame nr: 461, EMG: [0.1196 0.1343 0.1343 0.083  0.0024 0.0024 0.7983 0.2661 0.2124 0.1929]
Rep nr: 1, Class: 13, Frame nr: 462, EMG: [0.144  0.166  0.1514 0.083  0.0024 0.0049 0.8398 0.3052 0.2368 0.2124]
Rep nr: 1, Class: 13, Frame nr: 463, EMG: [0.1489 0.1733 0.1465 0.0757 0.0049 0.0049 0.8545 0.3076 0.2441 0.21  ]
Rep nr: 1, Class: 13, Frame nr: 464, EMG: [0.1392 0.1587 0.127  0.061  0.0049 0.0024 0.8301 0.2856 0.2271 0.1978]

In [247]:
df = pd.DataFrame(np.concatenate((rep, emg, new_lab), axis=1))
df.drop(df[df[11] == 0.0].index, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11
454,1.0,0.0488,0.0098,0.0024,0.0024,0.0049,0.0024,0.4077,0.1660,0.0024,0.0659,13.0
455,1.0,0.0708,0.0146,0.0024,0.0024,0.0024,0.0024,0.4858,0.2002,0.0024,0.0781,13.0
456,1.0,0.0830,0.0122,0.0024,0.0024,0.0024,0.0024,0.5420,0.2148,0.0024,0.0879,13.0
457,1.0,0.0854,0.0024,0.0024,0.0024,0.0024,0.0024,0.5859,0.2148,0.0024,0.0879,13.0
458,1.0,0.0830,0.0024,0.0024,0.0073,0.0024,0.0024,0.5957,0.1978,0.0024,0.0977,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
142643,10.0,0.1074,0.2051,0.0049,0.0024,0.0024,0.0024,0.1733,0.3076,0.1660,0.2124,29.0
142644,10.0,0.1001,0.1685,0.0024,0.0024,0.0024,0.0024,0.1514,0.2832,0.1953,0.2002,29.0
142645,10.0,0.0879,0.1343,0.0024,0.0024,0.0024,0.0024,0.1245,0.2563,0.1929,0.1904,29.0
142646,10.0,0.0854,0.1050,0.0024,0.0024,0.0024,0.0024,0.1123,0.2563,0.1733,0.1904,29.0
142647,10.0,0.0952,0.0781,0.0024,0.0024,0.0024,0.0024,0.1123,0.2515,0.1465,0.1904,29.0

In [253]:
def mean_energy(x):
    print(x[:1])
    return x.max() - x.min()


summed_data = df.groupby([11, 0]).sum()
mean_data = df.groupby([11, 0]).mean()
custom_data = df.groupby([11, 0]).agg(mean_energy)

final_database = pd.concat([summed_data, mean_data, custom_data], axis=1)

final_database.to_csv('output_cols.csv', index=False) 

final_database

454    0.0488
Name: 1, dtype: float64
1253    0.1294
Name: 1, dtype: float64
2085    0.0513
Name: 1, dtype: float64
2968    0.0195
Name: 1, dtype: float64
3821    0.0244
Name: 1, dtype: float64
4698    0.0415
Name: 1, dtype: float64
5419    0.022
Name: 1, dtype: float64
6278    0.0366
Name: 1, dtype: float64
7262    0.0024
Name: 1, dtype: float64
7961    0.0366
Name: 1, dtype: float64
8806    0.0073
Name: 1, dtype: float64
9593    0.0464
Name: 1, dtype: float64
10504    0.0464
Name: 1, dtype: float64
11353    0.0537
Name: 1, dtype: float64
12175    0.1416
Name: 1, dtype: float64
12966    0.0146
Name: 1, dtype: float64
13853    0.022
Name: 1, dtype: float64
14645    0.0024
Name: 1, dtype: float64
15609    0.0366
Name: 1, dtype: float64
16383    0.1123
Name: 1, dtype: float64
17164    0.022
Name: 1, dtype: float64
18000    0.0098
Name: 1, dtype: float64
18859    0.0024
Name: 1, dtype: float64
19708    0.0024
Name: 1, dtype: float64
20540    0.0049
Name: 1, dtype: float64
21382    0.0024
Name: 1, dtype: float64
22195    0.0024
Name: 1, dtype: float64
23057    0.0024
Name: 1, dtype: float64
23894    0.0024
Name: 1, dtype: float64
24745    0.0879
Name: 1, dtype: float64
25629    0.0293
Name: 1, dtype: float64
26450    0.0122
Name: 1, dtype: float64
27339    0.0024
Name: 1, dtype: float64
28146    0.0024
Name: 1, dtype: float64
29004    0.1245
Name: 1, dtype: float64
29775    0.0122
Name: 1, dtype: float64
30659    0.0024
Name: 1, dtype: float64
31474    0.0024
Name: 1, dtype: float64
32380    0.0049
Name: 1, dtype: float64
33155    0.0024
Name: 1, dtype: float64
33983    0.0073
Name: 1, dtype: float64
34870    0.0024
Name: 1, dtype: float64
35708    0.0024
Name: 1, dtype: float64
36515    0.0024
Name: 1, dtype: float64
37360    0.0024
Name: 1, dtype: float64
38240    0.0024
Name: 1, dtype: float64
39083    0.0024
Name: 1, dtype: float64
39923    0.0098
Name: 1, dtype: float64
40884    0.0024
Name: 1, dtype: float64
41554    0.0024
Name: 1, dtype: float64
42441    0.0464
Name: 1, dtype: float64
43223    0.0269
Name: 1, dtype: float64
44052    0.0244
Name: 1, dtype: float64
44902    0.0098
Name: 1, dtype: float64
45714    0.0269
Name: 1, dtype: float64
46644    0.0513
Name: 1, dtype: float64
47424    0.0342
Name: 1, dtype: float64
48256    0.0122
Name: 1, dtype: float64
49039    0.083
Name: 1, dtype: float64
49936    0.0464
Name: 1, dtype: float64
50808    0.0146
Name: 1, dtype: float64
51650    0.0293
Name: 1, dtype: float64
52492    0.0488
Name: 1, dtype: float64
53324    0.0537
Name: 1, dtype: float64
54159    0.0098
Name: 1, dtype: float64
55024    0.0244
Name: 1, dtype: float64
55879    0.0171
Name: 1, dtype: float64
56715    0.0024
Name: 1, dtype: float64
57547    0.0073
Name: 1, dtype: float64
58378    0.0195
Name: 1, dtype: float64
59288    0.0073
Name: 1, dtype: float64
60016    0.0024
Name: 1, dtype: float64
60864    0.0073
Name: 1, dtype: float64
61744    0.0024
Name: 1, dtype: float64
62534    0.0024
Name: 1, dtype: float64
63366    0.0024
Name: 1, dtype: float64
64186    0.0024
Name: 1, dtype: float64
65054    0.0049
Name: 1, dtype: float64
65855    0.0024
Name: 1, dtype: float64
66718    0.0049
Name: 1, dtype: float64
67622    0.0024
Name: 1, dtype: float64
68435    0.0098
Name: 1, dtype: float64
69224    0.0024
Name: 1, dtype: float64
70077    0.0024
Name: 1, dtype: float64
70986    0.0024
Name: 1, dtype: float64
71736    0.0024
Name: 1, dtype: float64
72605    0.0024
Name: 1, dtype: float64
73446    0.0024
Name: 1, dtype: float64
74311    0.0073
Name: 1, dtype: float64
75110    0.0024
Name: 1, dtype: float64
76001    0.0049
Name: 1, dtype: float64
76758    0.0024
Name: 1, dtype: float64
77656    0.0146
Name: 1, dtype: float64
78438    0.0024
Name: 1, dtype: float64
79276    0.0024
Name: 1, dtype: float64
80095    0.0024
Name: 1, dtype: float64
81019    0.0024
Name: 1, dtype: float64
81794    0.0024
Name: 1, dtype: float64
82623    0.0024
Name: 1, dtype: float64
83426    0.0024
Name: 1, dtype: float64
84443    0.0098
Name: 1, dtype: float64
85228    0.0317
Name: 1, dtype: float64
86004    0.022
Name: 1, dtype: float64
86892    0.0024
Name: 1, dtype: float64
87698    0.0171
Name: 1, dtype: float64
88585    0.0342
Name: 1, dtype: float64
89341    0.0049
Name: 1, dtype: float64
90215    0.0049
Name: 1, dtype: float64
91005    0.0024
Name: 1, dtype: float64
91835    0.0049
Name: 1, dtype: float64
92674    0.0024
Name: 1, dtype: float64
93493    0.0024
Name: 1, dtype: float64
94350    0.0024
Name: 1, dtype: float64
95202    0.0024
Name: 1, dtype: float64
96005    0.022
Name: 1, dtype: float64
96882    0.0342
Name: 1, dtype: float64
97725    0.0024
Name: 1, dtype: float64
98569    0.0073
Name: 1, dtype: float64
99428    0.0269
Name: 1, dtype: float64
100231    0.0024
Name: 1, dtype: float64
101098    0.0269
Name: 1, dtype: float64
101924    0.0171
Name: 1, dtype: float64
102814    0.0024
Name: 1, dtype: float64
103562    0.0171
Name: 1, dtype: float64
104477    0.0586
Name: 1, dtype: float64
105327    0.0073
Name: 1, dtype: float64
106118    0.0244
Name: 1, dtype: float64
106973    0.0171
Name: 1, dtype: float64
107829    0.0049
Name: 1, dtype: float64
108821    0.1904
Name: 1, dtype: float64
109541    0.0024
Name: 1, dtype: float64
110306    0.0244
Name: 1, dtype: float64
111235    0.0464
Name: 1, dtype: float64
112042    0.0732
Name: 1, dtype: float64
112856    0.0293
Name: 1, dtype: float64
113691    0.1196
Name: 1, dtype: float64
114577    0.0537
Name: 1, dtype: float64
115345    0.061
Name: 1, dtype: float64
116244    0.0024
Name: 1, dtype: float64
117089    0.1636
Name: 1, dtype: float64
117946    0.0586
Name: 1, dtype: float64
118794    0.0293
Name: 1, dtype: float64
119580    0.0122
Name: 1, dtype: float64
120377    0.0195
Name: 1, dtype: float64
121269    0.061
Name: 1, dtype: float64
122099    0.0122
Name: 1, dtype: float64
122933    0.0269
Name: 1, dtype: float64
123861    0.022
Name: 1, dtype: float64
124604    0.1611
Name: 1, dtype: float64
125454    0.0146
Name: 1, dtype: float64
126333    0.0024
Name: 1, dtype: float64
127140    0.0049
Name: 1, dtype: float64
127975    0.0122
Name: 1, dtype: float64
128822    0.0464
Name: 1, dtype: float64
129661    0.0195
Name: 1, dtype: float64
130511    0.0024
Name: 1, dtype: float64
131333    0.0146
Name: 1, dtype: float64
132170    0.0073
Name: 1, dtype: float64
133017    0.0244
Name: 1, dtype: float64
133809    0.105
Name: 1, dtype: float64
134671    0.0269
Name: 1, dtype: float64
135515    0.0024
Name: 1, dtype: float64
136319    0.0024
Name: 1, dtype: float64
137136    0.0537
Name: 1, dtype: float64
138031    0.0024
Name: 1, dtype: float64
138833    0.0513
Name: 1, dtype: float64
139697    0.0024
Name: 1, dtype: float64
140547    0.0024
Name: 1, dtype: float64
141365    0.0049
Name: 1, dtype: float64
142228    0.0098
Name: 1, dtype: float64
454    0.0098
Name: 2, dtype: float64
1253    0.022
Name: 2, dtype: float64
2085    0.0049
Name: 2, dtype: float64
2968    0.0244
Name: 2, dtype: float64
3821    0.0024
Name: 2, dtype: float64
4698    0.0024
Name: 2, dtype: float64
5419    0.0024
Name: 2, dtype: float64
6278    0.0073
Name: 2, dtype: float64
7262    0.0024
Name: 2, dtype: float64
7961    0.0024
Name: 2, dtype: float64
8806    0.0024
Name: 2, dtype: float64
9593    0.0024
Name: 2, dtype: float64
10504    0.0024
Name: 2, dtype: float64
11353    0.0024
Name: 2, dtype: float64
12175    0.0073
Name: 2, dtype: float64
12966    0.0024
Name: 2, dtype: float64
13853    0.0024
Name: 2, dtype: float64
14645    0.0024
Name: 2, dtype: float64
15609    0.0024
Name: 2, dtype: float64
16383    0.0098
Name: 2, dtype: float64
17164    0.0024
Name: 2, dtype: float64
18000    0.0024
Name: 2, dtype: float64
18859    0.0024
Name: 2, dtype: float64
19708    0.0024
Name: 2, dtype: float64
20540    0.0024
Name: 2, dtype: float64
21382    0.0024
Name: 2, dtype: float64
22195    0.0024
Name: 2, dtype: float64
23057    0.0024
Name: 2, dtype: float64
23894    0.0024
Name: 2, dtype: float64
24745    0.0024
Name: 2, dtype: float64
25629    0.0024
Name: 2, dtype: float64
26450    0.022
Name: 2, dtype: float64
27339    0.0073
Name: 2, dtype: float64
28146    0.0024
Name: 2, dtype: float64
29004    0.0098
Name: 2, dtype: float64
29775    0.0024
Name: 2, dtype: float64
30659    0.0024
Name: 2, dtype: float64
31474    0.0024
Name: 2, dtype: float64
32380    0.0024
Name: 2, dtype: float64
33155    0.0024
Name: 2, dtype: float64
33983    0.0024
Name: 2, dtype: float64
34870    0.0049
Name: 2, dtype: float64
35708    0.0024
Name: 2, dtype: float64
36515    0.0024
Name: 2, dtype: float64
37360    0.0024
Name: 2, dtype: float64
38240    0.0024
Name: 2, dtype: float64
39083    0.0024
Name: 2, dtype: float64
39923    0.0024
Name: 2, dtype: float64
40884    0.0098
Name: 2, dtype: float64
41554    0.0024
Name: 2, dtype: float64
42441    0.0171
Name: 2, dtype: float64
43223    0.0024
Name: 2, dtype: float64
44052    0.0073
Name: 2, dtype: float64
44902    0.0024
Name: 2, dtype: float64
45714    0.0024
Name: 2, dtype: float64
46644    0.0171
Name: 2, dtype: float64
47424    0.0073
Name: 2, dtype: float64
48256    0.0024
Name: 2, dtype: float64
49039    0.0024
Name: 2, dtype: float64
49936    0.0024
Name: 2, dtype: float64
50808    0.0024
Name: 2, dtype: float64
51650    0.0049
Name: 2, dtype: float64
52492    0.0024
Name: 2, dtype: float64
53324    0.0024
Name: 2, dtype: float64
54159    0.0024
Name: 2, dtype: float64
55024    0.0073
Name: 2, dtype: float64
55879    0.0024
Name: 2, dtype: float64
56715    0.0024
Name: 2, dtype: float64
57547    0.0024
Name: 2, dtype: float64
58378    0.0024
Name: 2, dtype: float64
59288    0.0024
Name: 2, dtype: float64
60016    0.0024
Name: 2, dtype: float64
60864    0.0024
Name: 2, dtype: float64
61744    0.0586
Name: 2, dtype: float64
62534    0.0024
Name: 2, dtype: float64
63366    0.0024
Name: 2, dtype: float64
64186    0.0342
Name: 2, dtype: float64
65054    0.0024
Name: 2, dtype: float64
65855    0.0024
Name: 2, dtype: float64
66718    0.0024
Name: 2, dtype: float64
67622    0.0024
Name: 2, dtype: float64
68435    0.0024
Name: 2, dtype: float64
69224    0.0024
Name: 2, dtype: float64
70077    0.0024
Name: 2, dtype: float64
70986    0.0024
Name: 2, dtype: float64
71736    0.0024
Name: 2, dtype: float64
72605    0.0024
Name: 2, dtype: float64
73446    0.0024
Name: 2, dtype: float64
74311    0.0024
Name: 2, dtype: float64
75110    0.0024
Name: 2, dtype: float64
76001    0.0024
Name: 2, dtype: float64
76758    0.0024
Name: 2, dtype: float64
77656    0.0024
Name: 2, dtype: float64
78438    0.0024
Name: 2, dtype: float64
79276    0.0024
Name: 2, dtype: float64
80095    0.0024
Name: 2, dtype: float64
81019    0.0024
Name: 2, dtype: float64
81794    0.0024
Name: 2, dtype: float64
82623    0.0024
Name: 2, dtype: float64
83426    0.0024
Name: 2, dtype: float64
84443    0.0024
Name: 2, dtype: float64
85228    0.0146
Name: 2, dtype: float64
86004    0.0415
Name: 2, dtype: float64
86892    0.0024
Name: 2, dtype: float64
87698    0.0024
Name: 2, dtype: float64
88585    0.0464
Name: 2, dtype: float64
89341    0.0024
Name: 2, dtype: float64
90215    0.0024
Name: 2, dtype: float64
91005    0.0049
Name: 2, dtype: float64
91835    0.0024
Name: 2, dtype: float64
92674    0.0024
Name: 2, dtype: float64
93493    0.0024
Name: 2, dtype: float64
94350    0.083
Name: 2, dtype: float64
95202    0.0342
Name: 2, dtype: float64
96005    0.0024
Name: 2, dtype: float64
96882    0.0317
Name: 2, dtype: float64
97725    0.0854
Name: 2, dtype: float64
98569    0.0659
Name: 2, dtype: float64
99428    0.0366
Name: 2, dtype: float64
100231    0.0146
Name: 2, dtype: float64
101098    0.0098
Name: 2, dtype: float64
101924    0.0024
Name: 2, dtype: float64
102814    0.0098
Name: 2, dtype: float64
103562    0.0024
Name: 2, dtype: float64
104477    0.0024
Name: 2, dtype: float64
105327    0.0244
Name: 2, dtype: float64
106118    0.0024
Name: 2, dtype: float64
106973    0.0146
Name: 2, dtype: float64

KeyboardInterrupt: